/* shared */

.headfoot-color {
    background: linear-gradient(90deg, var(--head-foot-grad-color-1), var(--head-foot-grad-color-2), var(--head-foot-grad-color-1));
}

/* header */

.nav-link {
    margin: 0 5px;
}

.head-cont {
    width: 100%;
}



/* footer */

.footer-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

a.foot-link {
    color: #fff8;
    text-decoration: none;
}

a.foot-link.active {
    color: #fff;
    text-decoration: none;
}

.foot-nav {
    text-align: left;
}

.footer-logo {
    height: 50px;
    margin: 0 5% 0 5%;
}

.grey-text {
    color: #fff8;
}

.grey-text strong {
    color: #fff;
}

.footer-desc {
    text-align: center;
}

.copyright {
    margin: auto 0 auto 0;
}

.social-links{
    display: flex;
    flex-direction: column;
}

.social-logo {
    height: 1.5rem;
}

@media screen and (max-width: 575px) {
    .foot-nav {
        text-align: center;
    }
}