/* header */

.nav-link {
    margin: 0 5px;
}

.head-cont {
    width: 100%;
}



/* footer */

.footer-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

a.foot-link {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
}

a.foot-link.active {
    color: #fff;
    text-decoration: none;
}

.foot-nav {
    text-align: left;
}

.footer-logo {
    height: 50px;
    margin-right: 5%;
}

.grey-text {
    color: rgba(255, 255, 255, .55);
}

.grey-text strong {
    color: #fff;
}