/* header */

.nav-link {
    margin: 0 5px;
}

.head-cont {
    width: 100%;
}

/* footer */

.footer-content {
    padding-top: 10px;
}

/* a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
} */