/* PageHead */

.page-head {
    margin-top: 20px;
}

.page-head-text {
    font-size: 1.3rem;
    margin: 2vh;
    text-align: justify;
}

/* SectionHead */

.section-title {
    text-align: left;
    margin-top: 1rem;
    /* margin-left: 12vw; */
}

.section-sub {
    font-size: 1.25rem;
    text-align: left;
    /* margin: 0 12vw 0 12vw; */
}

/* Render* */

.rend-row-upper {
    text-align: left;
}

.tech-row-lower {
    margin-left: 5vw;
}

.rend-logo {
    height: 40px;
    margin: 10px;
}

.rend-title {
    font-weight: bold;
    font-size: 1.15rem;
    margin-right: 15px;
}

.proj-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.under-dev-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 300px;
}
