/* ContactPage */
.contact-form {
    max-width: 650px;
    margin: 0 auto 0 auto;
    ;
}

.form-check,
legend {
    text-align: left;
    padding-left: 10%;
}

/* TechPage */

.tech-cont {
    text-align: left;
    margin-top: 10px;
    margin-left: 5vw;
}

