:root {
    --header-height: 56px;
    --footer-height: 178px;
}

.content-container {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer-container {
    position: relative;
}